

header {
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chef-name {
    height: 60px;
    width: 80px;
    font-family:  'Roboto', sans-serif;
    margin-left: 100px;
    font-size: 40px;
    font-weight: 900;
    color:rgba(255, 0, 0, 0.884) ;
}

nav{
    margin-left: 220px;
}

nav ul {
    
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
    margin-right: 80px;
    font-size: 22px;
}

nav ul li{
    height: 40px;
    text-align:center ;
    width: 58px;
}

nav ul li :hover{
    background-color: rgba(255, 0, 0, 0.884);
    border-radius: 3px;

}

.login-icon {
    height: 60px;
    width: 80px;
    background-image: url(../image/download\ \(1\).png);
    background-repeat: no-repeat;
    margin-right: 100px;
    background-size: cover;
    background-position: center;
}


section {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chicken-logo {
    background-image: url(../image/delicious-fried-chicken-plate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 50vw;
    margin-right: 100px;
}

.home-page{
    margin-left: 100px;
    height: 250px;
    width: 400px;
    row-gap: 100px;
    line-height: 50px;
    
}

span  {
    color: rgba(255, 0, 0, 0.87);
    font-size: 25px;
}

h2{
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    color: rgba(128, 0, 128, 0.308);
}

p{
    row-gap: 5px;
}

.link {
    width: 70px;
    height: 40px;
    background-color: blueviolet;
    font-size: 25px;
    border-radius: 2px;
    text-align: center;
    align-self: center;
}

main{
    width: 100%;
    height: 200vh;
}

.main-header {
    width: 400px;
    height: 60px;
    font-size: 40px;
    position: relative;
    left: 500px;
    font-family: 'Roboto', sans-serif;
    color: rgba(128, 0, 128, 0.308);
    font-weight: 500;
}


.container {
    width: 80%;
    height: 100vh;
    margin-left: 100px;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}   

.col {
    width: 280px;
    height: 280px;
    background-color: blue;
    margin-left: 60px;
    background-color: whitesmoke;
}

.image {
    background-image: url(../image/fresh-gourmet-sandwich-with-meat-vegetables-generative-ai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 170px;
    height:170px ;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.image1 {
    background-image: url(../image/crispy-fried-chicken-plate-with-salad-carrot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 170px;
    height:170px ;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.image2 {
    background-image: url(../image/istockphoto-157646162-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 170px;
    height:170px ;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.image3 {
    background-image: url(../image/istockphoto-1192094401-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 170px;
    height:170px ;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.image4 {
    background-image: url(../image/delicious-fried-chicken-plate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 170px;
    height:170px ;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.image5 {
    background-image: url(../image/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 170px;
    height:170px ;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.hd {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    
}

.add-link {
    width: 100px;
    height: 40px;
    background-color: rgba(137, 43, 226, 0.103);
    font-size: 25px;
    border-radius: 2px;
    text-align: center;
    margin-left: 50px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.add-link:hover{
    color: rgba(255, 0, 0, 0.637);
}

.about-hd1{
    width: 400px;
    height: 60px;
    position: relative;
    left: 580px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 0, 0, 0.87);
    font-size: 30px;
    font-weight: 200;
    
}

.about-hd2 {
    width: 400px;
    height: 60px;
    position: relative;
    left: 500px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    bottom: 20px;
    text-decoration: underline;
}

.about-container {
    width: 80%;
    height: 80vh;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
}

.about-img{
    background-image: url(../image/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vw;
    height: 50vh;
    margin-left: 10px;
    margin-top: 20px;
}

.about-paragraph{
    margin-top: 60px;
    line-height: 50px;
    width: 450px;
    height: 300px;
    position: absolute;
    left: 692px;
}

h3{
    width: 400px;
    height: 60px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    left: 180px;
    font-weight: 500;
}


